@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BIG, GINORMOUS, SALE!!</h1>
    <p class="lead">Welcome to Stafford Auto. The auto-emporium of the world! Take a look around.</p>
    <p><a href="https://asp.net" class="btn btn-lg">Learn more &raquo;</a></p>
</div>
<hr />
<br />
<h3>Featured Rides</h3>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <button value=1 id="item-1" class="button">
                <img src="/images/Car1.jpg" alt="Oohh shiny" style="width:175px;height:100px" />
                <p>This is the first car</p>
                <p>This is the price</p>
            </button>
        </div>
        <div class="col-md-3">
            <button value=2 id="item-2" class="button">
                <img src="/images/Car1.jpg" alt="Oohh shiny" style="width:175px;height:100px" />
                <p>This is the second car</p>
                <p>This is the price</p>
            </button>
        </div>
        <div class="col-md-3">
            <button value=3 id="item-3" class="button">
                <img src="/images/Car1.jpg" alt="Oohh shiny" style="width:175px;height:100px" />
                <p>This is the third car</p>
                <p>This is the price</p>
            </button>
        </div>
        <div class="col-md-3">
            <button value=4 id="item-4" class="button">
                <img src="/images/Car1.jpg" alt="Oohh shiny" style="width:175px;height:100px" />
                <p>This is the fourth car</p>
                <p>This is the price</p>
            </button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <button value=5 id="item-5" class="button">
                <img src="/images/Car1.jpg" alt="Oohh shiny" style="width:175px;height:100px" />
                <p>This is the fifth car</p>
                <p>This is the price</p>
            </button>
        </div>
        <div class="col-md-3">
            <button value=6 id="item-6" class="button">
                <img src="/images/Car1.jpg" alt="Oohh shiny" style="width:175px;height:100px" />
                <p>This is the sixth car</p>
                <p>This is the price</p>
            </button>
        </div>
        <div class="col-md-3">
            <button value=7 id="item-7" class="button">
                <img src="/images/Car1.jpg" alt="Oohh shiny" style="width:175px;height:100px" />
                <p>This is the seventh car</p>
                <p>This is the price</p>
            </button>
        </div>
        <div class="col-md-3">
            <button value=8 id="item-8" class="button">
                <img src="/images/Car1.jpg" alt="Oohh shiny" style="width:175px;height:100px" />
                <p>This is the eighth car</p>
                <p>This is the price</p>
            </button>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="text-center">
        <h2>Contact Us</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>