
@{
    ViewBag.Title = "salesReport";
}

<h2>Sales Report</h2>

<div class="container">
    <div class="col-md-8 fields">
        <div class="row">
        <h3>Filters</h3>
        </div>
        <div class="row">
            <div class="col-md-4">
                @*FINISH HER*@
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h3>Search Results</h3>
    <div id="salesCount" class="col-md-6">
        <table id="salesTable" class="table table-hover">
            <tr>
                <th width="33%">User</th>
                <th width="34%">Total Sales</th>
                <th width="33%">Total Vehicles</th>
            </tr>
            <tbody id="salesCountRows"></tbody>
        </table>
    </div>
</div>