
@{
    ViewBag.Title = "editVehicle";
}

<h2>Edit Vehicle</h2>


<div class="container">
    <form class="form-vertical" role="form" id="edit-form">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="edit-make" class="col-md-2 control-label">
                        Make:
                    </label>
                    <div class="col-md-10">
                        <input type="text"
                               class="form-control"
                               id="edit-description"
                               placeholder="" required></input>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="edit-model" class="col-md-2 control-label">
                        Model:
                    </label>
                    <div class="col-md-10">
                        <input type="text"
                               class="form-control"
                               id="edit-description"
                               placeholder="" required></input>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="edit-type" class="col-md-2 control-label">
                        Type:
                    </label>
                    <div class="col-md-10">
                        <input type="text"
                               class="form-control"
                               id="edit-description"
                               placeholder="" required></input>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="edit-body" class="col-md-2 control-label">
                        Body Type:
                    </label>
                    <div class="col-md-10">
                        <input type="text"
                               class="form-control"
                               id="edit-description"
                               placeholder="" required></input>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="edit-year" class="col-md-2 control-label">
                        Year:
                    </label>
                    <div class="col-md-10">
                        <input type="text"
                               class="form-control"
                               id="edit-description"
                               placeholder="" required></input>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="edit-trans" class="col-md-2 control-label">
                        Transmisson:
                    </label>
                    <div class="col-md-10">
                        <input type="text"
                               class="form-control"
                               id="edit-description"
                               placeholder="" required></input>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="edit-ext-color" class="col-md-2 control-label">
                        Color:
                    </label>
                    <div class="col-md-10">
                        <input type="text"
                               class="form-control"
                               id="edit-description"
                               placeholder="" required></input>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="edit-int-color" class="col-md-2 control-label">
                        Interior Color:
                    </label>
                    <div class="col-md-10">
                        <input type="text"
                               class="form-control"
                               id="edit-description"
                               placeholder="" required></input>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="edit-mileage" class="col-md-2 control-label">
                        Mileage:
                    </label>
                    <div class="col-md-10">
                        <input type="text"
                               class="form-control"
                               id="edit-description"
                               placeholder="" required></input>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="edit-vin" class="col-md-2 control-label">
                        VIN #:
                    </label>
                    <div class="col-md-10">
                        <input type="text"
                               class="form-control"
                               id="edit-description"
                               placeholder="" required></input>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="edit-msrp" class="col-md-2 control-label">
                        MSRP:
                    </label>
                    <div class="col-md-10">
                        <input type="text"
                               class="form-control"
                               id="edit-description"
                               placeholder="" required></input>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="edit-price" class="col-md-2 control-label">
                        Price:
                    </label>
                    <div class="col-md-10">
                        <input type="text"
                               class="form-control"
                               id="edit-description"
                               placeholder="" required></input>
                    </div>
                </div>
            </div>
        </div>
        <br />


        <div class="row">
            <div class="form-group">
                <label for="edit-description" class="col-md-2 control-label">
                    Description:
                </label>
                <div class="col-md-10">
                    <textarea class="form-control"
                              width="300px"
                              height="200px"
                              id="edit-description"
                              placeholder="Description" required></textarea>
                </div>
            </div>
        </div>
        <br />



        <div class="row">
            <div class="col-md-2">
                <label for="edit-picture" class="col-md-2 control-label">
                    Picture:
                </label>
                <div class="col-md-10">
                    <input type="file" name="pic" accept="image/*"></input>
                </div>
            </div>
        </div>
        <br />

        <a href="#@*append to Specials*@" class="button1">Save</a>
        <br />
    </form>
</div>